<h3 *ngIf="!id">New article</h3>
<h3 *ngIf="id">Edit {{form.get('title').value}}</h3>
<a routerLink="/protected/article" appColor [isText]="true">Back</a>
<mz-card>
  <mz-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mz-card-content>
        <div class="row">
          <div class="col m6 s12">
            <mz-input-container>
              <input formControlName="title"
                     mz-input
                     [validate]="true"
                     [dataError]="'Must be mail'"
                     [placeholder]="'Enter your article title'"
                     [label]="'*Title'">
            </mz-input-container>
          </div>
          <div class="col m6 s12">
            <mz-input-container>
              <mz-select-container>
                <select mz-select [label]="'Category'" [placeholder]="'Select category'" formControlName="category_id">
                  <option class="left circle" [ngValue]="null">None</option>
                  <option class="left circle" *ngFor="let category of $categories | async" [value]="category.id">
                    {{category.name}}
                  </option>
                </select>
              </mz-select-container>
            </mz-input-container>
          </div>
        </div>
        <mz-input-container>
          <input formControlName="url"
                 mz-input
                 [placeholder]="'Enter your article url'"
                 [label]="'*Url'">
        </mz-input-container>
        <jodit-editor #editor formControlName="article_content" [config]="joditConfig"
                      style="height: 1500px;"></jodit-editor>
        <mz-input-container>
          <mz-select-container>
            <select mz-select [label]="'Include category'" [placeholder]="'Select category'"
                    formControlName="included_category_id">
              <option class="left circle" [ngValue]="null">No</option>
              <option class="left circle" *ngFor="let category of $categories | async" [value]="category.id">
                {{category.name}}
              </option>
            </select>
          </mz-select-container>
        </mz-input-container>
        <mz-input-container>
          <input formControlName="description"
                 mz-input
                 [placeholder]="'Enter your article description'"
                 [label]="'Description'">
        </mz-input-container>
        <mz-input-container>
          <mz-chip-input [formControl]="form.get('keywords')"
                         [placeholder]="'Enter a keywords'"
                         [secondaryPlaceholder]="'+keyword'">
          </mz-chip-input>
        </mz-input-container>
        <div style="display: flex; justify-content: flex-end;">
          <button mz-button class="blue-grey" [disabled]="!form.valid">
          <span *ngIf="!id">
            <i mz-icon [align]="'left'" [icon]="'create'"></i>
            Create
          </span>
            <span *ngIf="id">
            <i mz-icon [align]="'left'" [icon]="'update'"></i>
            Edit
          </span>
          </button>
        </div>
      </mz-card-content>
    </form>
  </mz-card-content>
</mz-card>

<app-modal #modal [title]="'Choose file'" [modalActions]="[{name: 'Close'}]" [fixedFooter]="true" [fullscreen]="true">
  <app-file [isInModal]="true" (pick)="pickFile($event)"></app-file>
</app-modal>
