<mz-navbar [navbarClass]="'blue-grey'">
  <a href="#" class="brand-logo">Admin</a>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a [routerLink]="['/protected/article']">Articles</a></mz-navbar-item>
    <mz-navbar-item><a [routerLink]="['/protected/file']">Files</a></mz-navbar-item>
    <mz-navbar-item><a [routerLink]="['/protected/site']">Site</a></mz-navbar-item>
    <mz-navbar-item><a [routerLink]="['/protected/dashboard']">Dashboard</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
