<mz-navbar [navbarClass]="'blue-grey'">
  <a href="#" class="brand-logo">&nbsp;Admin</a>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a [routerLink]="['/protected/menu']">Menu</a></mz-navbar-item>
    <mz-navbar-item><a [routerLink]="['/protected/category']">Categories</a></mz-navbar-item>
    <mz-navbar-item><a [routerLink]="['/protected/article']">Articles</a></mz-navbar-item>
    <mz-navbar-item><a [routerLink]="['/protected/file']">Files</a></mz-navbar-item>
    <mz-navbar-item><a [routerLink]="['/protected/site']">Site</a></mz-navbar-item>
    <mz-navbar-item><a [routerLink]="['/protected/dashboard']">Dashboard</a></mz-navbar-item>
    <mz-navbar-item>
      <mz-dropdown
        [id]="'dropdown-profile'"
        [dropdownButtonId]="'btn-dropdown-profile'"
        [stopPropagation]="true">
        <mz-dropdown-item><a href="#!" (click)="logout($event)"><i mz-icon [align]="'left'" [icon]="'power_settings_new'"></i>Logout</a></mz-dropdown-item>
      </mz-dropdown>
      <a id="btn-dropdown-profile" href="#">
        <i mz-icon [align]="'left'" [icon]="'person'"></i>{{($user | async)?.name}}
      </a>
    </mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
