<table [class.highlight]="clickable">

  <thead>
  <tr>
    <th *ngIf="sortable"></th>
    <th *ngFor="let column of ($tableData | async)?.head">{{column.title}}</th>
    <th *ngIf="($tableData | async)?.actions"></th>
  </tr>
  </thead>

  <tbody [sortablejs]="($tableData | async)?.data" [sortablejsOptions]="options">
  <tr *ngFor="let row of ($tableData | async)?.data" [style.cursor]="clickable ? 'pointer' : 'default'" (click)="onClick(row)">
    <td *ngIf="sortable"><i class="handle" mz-icon [align]="'left'" [icon]="'drag_indicator'"></i></td>
    <td *ngFor="let column of ($tableData | async)?.head">
      <span *ngIf="!isFile(row[column.name])">{{row[column.name]}}</span>
      <div *ngIf="isFile(row[column.name])">
        <img width="70px" [src]="getImage(row[column.name])" [appDefaultImage]="'assets/flaticon/file.png'">
      </div>
    </td>
    <td *ngIf="($tableData | async)?.actions">
      <mz-dropdown [id]="'row-' + row.id"
                   [dropdownButtonId]="'row-button-' + row.id"
                   [stopPropagation]="true">
        <mz-dropdown-item *ngFor="let action of ($tableData | async)?.actions">
          <a (click)="doAction(action, row)" class="blue-grey-text"
             [ngClass]="{'red white-text': action.warning}">{{action.name}}</a>
        </mz-dropdown-item>
      </mz-dropdown>
      <a mz-button id="{{'row-button-' + row.id}}" class="blue-grey">
        <i mz-icon [align]="'left'" [icon]="'menu'"></i>
        Action
      </a>
    </td>
  </tr>
  </tbody>
</table>
