<h3>Site</h3>
<mz-card>
  <mz-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mz-card-content>
        <mz-input-container>
          <input formControlName="name"
                 mz-input
                 [placeholder]="'Enter your site name'"
                 [label]="'Site name'">
        </mz-input-container>
        <div class="row">
          <div class="col m6 s12">
            <mz-input-container>
              <mz-select-container>
                <select mz-select [label]="'Homepage'" [placeholder]="'Select Homepage'" formControlName="homepage_id">
                  <option class="left circle" *ngFor="let article of $selectData | async" [value]="article.id">{{article.title}}</option>
                </select>
              </mz-select-container>
            </mz-input-container>
          </div>
          <div class="col m6 s12">
            <mz-input-container>
              <mz-select-container>
                <select mz-select [label]="'404'" [placeholder]="'Select 404 page'" formControlName="not_found_id">
                  <option class="left circle" *ngFor="let article of $selectData | async" [value]="article.id">{{article.title}}</option>
                </select>
              </mz-select-container>
            </mz-input-container>
          </div>
        </div>
        <button mz-button class="blue-grey" [disabled]="!form.valid">
          <i mz-icon [align]="'left'" [icon]="'update'"></i> Update
        </button>
      </mz-card-content>
    </form>
  </mz-card-content>
</mz-card>
